/* Custom utility classes not provided by default Tailwind CSS */

/* Hide scrollbar for horizontal scrolling containers (like the filter chips) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
